ul.photon-autocomplete {
    position: absolute;
    background-color:rgba(20, 20, 20, 0.9);
    max-width: fit-content;
    z-index: 1000;
    display: none;
    margin: 2px; /* Remove margins */
    list-style-type: none; /* Remove bullets */
    padding: 2px; /* Remove padding */
	padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    max-height: 200px;
    overflow:hidden;
    overflow-y: scroll;
    scrollbar-width: none;
	border: 4px solid transparent !important;
			border-radius: 12px !important;
			background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.7)), 
							  linear-gradient(45deg, #f39c12, #e74c3c, #9b59b6, #3498db, #2ecc71) !important;
			background-origin: border-box !important;
			background-clip: padding-box, border-box !important;
	border-radius: 12px;
	color: white;
}
.photon-autocomplete li {
    min-height: 20px;
    line-height: 1em;
    padding: 10px;
	padding-bottom: 15px;
    overflow: hidden;
    /* white-space: nowrap; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 0.9em;
}
.photon-autocomplete li strong {
    display: block;
    font-weight: normal !important;
}
.photon-autocomplete li.on {
    background-color: white;
    cursor: pointer;
	color: black;
}
.photon-autocomplete li.photon-no-result {
    text-align: center;
    color: white;
    font-size: 0.9em;
    line-height: 20px;
    width: fit-content;
    block-size: fit-content;
	max-height: 10px;
}
.photon-autocomplete .photon-feedback {
    display: block;
    text-align: right;
    font-size: 0.8em;
    padding: 3px;
    color: #999;
    border-top: 1px solid #eee;
}
.photon-input {
    padding-left: 8px !important; 
    height: 30px !important;
    border-radius: 12px !important;
    border: 1px solid #ccc !important;
    box-sizing: border-box !important;
}
.photon-input:focus {
    width: 400px;
    padding-left: 35px !important; 
    border-radius: 10px;
}
@media all and (max-width:500px){
    #map .photon-input:focus {
        width: 300px;
        border-radius: 10px;
    }
}
@media all and (max-width:400px){
    #map ul.photon-autocomplete {
        position: relative;
        background-color: white;
        max-width: 400;
        z-index: 1000;
        box-shadow: 0 4px 9px #999999;
        display: none;
        margin: 0; /* Remove margins */
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        font-family: Arial, sans-serif;
    }
    #map .photon-input:focus {
        width: 200px;
        border-radius: 10px;
    }
}
@media all and (max-width:280px){
    #map .photon-input:focus {
        width: 150px;
        border-radius: 10px;
    }
}